.footer-contact-list {
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.footer-contact-list-social-item {
	display: inline;
	list-style-type: none;
}
.footer-contact-list-social {
	padding: 0;
}
.footer-contact-list-social-item a {
	text-decoration: none;
	color: chooseColor("about");
	transition: color 0.5s;
}
.tel {
	@extend %bottomContactLink;
}
.mail {
	@extend %bottomContactLink;
}

//=======================================================================================
//CREATING CLASS NAMES AND ADDING COLOR FOR THE SOCIAL ICON'S HOOVER STATE IN THE FOOTER
//=======================================================================================

@include assignColor($social-link-list);