html, body {
	height: 100%;
}
body {
	background: #fff url('../images/TheA591.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
}
h1, h2, h3 {
	font-family: 'Bitter', serif;
}
h1 {
	font-size: 5rem;
    border-bottom: 3px dashed #000;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
section {
	min-height: 100%;
	padding: 86px 2rem 4rem;
	border-bottom: 3px solid #e2e2e2;
}
ul.columned {
	list-style-type: none;
}
ul.columned li {
	position: relative;
	padding-left: 2rem;
}
ul.columned li::before {
	content: '';
	position: absolute;
	top: 7px;
	left: 0;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #000;
}
#navbar {
    max-height: 362px;
}
header .container-fluid {
	max-width: 1024px;
	margin: auto;
}
.content {
	background-color: #f5f5f5;
	border-radius: 5px;
	padding: 0 2rem;
	box-shadow: 0 0 24px rgba(0,0,0,0.7);
	max-width: 1024px;
	margin: auto;
}
.home {
	background-color: transparent;
	text-align: center;
	border: none;
}
.home p {
	font-size: 16px;
}

.home-content {
	margin-top: 7rem;
}
.home-jumbo {
	background-color: rgba(255,255,255,0.65);
	box-shadow: 0 0 24px rgba(0,0,0,0.7);
	padding: 2rem;
}
.item h3 {
  display: inline-block;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
}
.p {
  text-align: center;
  padding-top: 40px;
  font-size: 13px;
}
@media screen and (min-width: 1024px) {
	ul.columned {
		column-count: 3;
		-webkit-column-count: 3;
	}
}
@media screen and (min-width: 768px) {
	header .navbar-nav {
		float: none!important;
		text-align: center;
	}

	header .navbar-nav > li {
		float: none!important;
		display: inline-block;
	}
	ul.columned {
		column-count: 2;
		-webkit-column-count: 2;
	}
}
@media screen and (max-width: 560px) {
	h3 {
		font-size: 1rem;
	}
}
















